.header {
  position: absolute;
  bottom: 15px;
  right: 0;
  z-index: 12;

  width: 100%;
  overflow: hidden;
}
/* ------------------------ Desktop nav  ------------------------*/
.desktopNavContainer {
  display: none;
  align-items: center;

  width: 100%;
  max-width: 380px;
  height: 55px;

  margin: 0 auto;
  padding: 2px;

  border-radius: var(--bd-r-sm);

  background-color: var(--ac-one);

  overflow: hidden;
  position: relative;
}
.desktopNavContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}
.desktopNavContainer ul {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 14;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 100%;
  height: 100%;
}
.desktopNavLink {
  display: flex;

  height: 45px;
  width: 45px;

  color: var(--bg-one);
}

.desktopNavLink svg {
  width: 100%;
  height: 100%;

  color: inherit;
  background-color: inherit;
}
.desktopNavBoard {
  position: fixed;
  /* top: 0;
  left: 0; */

  width: 55px;
  height: 50px;

  border-radius: 5px;

  background-color: var(--bg-two);
}

/* ------------------------ mobile nav  ------------------------*/
.mobileNavContainer {
  display: flex;
  justify-content: end;

  width: calc(100% - 24px);

  margin: 12px;

  position: relative;
  /* overflow: hidden; */
}
.mobileNav {
  display: hidden;
  position: absolute;

  z-index: 14;

  width: 45px;
  max-width: 340px;
  height: 45px;

  border: none;
  border-radius: 15px;

  background-color: transparent;

  overflow: hidden;
}
.mobileNav ul {
  display: inherit;
  align-items: center;
  justify-content: space-evenly;
  gap: 4px;

  width: 100%;
  height: 100%;

  padding: 4px;

  padding-right: calc(45px + 4px);
}
.mobileNavLink {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 42px;
  width: 42px;

  border: none;
  border-radius: 12px;

  padding: 5px;

  font-size: 30px;
  color: var(--bg-one);

  background-color: var(--ac-two);
}
.mobileNavLink li {
  display: flex;
  align-items: center;
}

.appBarBtn {
  position: relative;
  z-index: 15;

  width: 45px;
  height: 45px;

  border: none;
  border-radius: 15px;

  /* background-color: var(--ac-two); */

  transition: all 250ms ease-in-out;
}
.appBarBtn:active {
  opacity: 0.9;
  scale: 1.1;
}
.appBarBtn div {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  color: var(--bg-one);

  border-radius: 15px;
}
.appBarBtn svg {
  width: 70%;
  height: 70%;
}

@media screen and (min-width: 1024px) {
  .desktopNavContainer {
    display: flex;
  }

  .mobileNavContainer {
    display: none;
  }
}
