.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.875em;

  padding: 20px 0;
}

/* --------------------------------------- ABOUT ---------------------------------------*/
.about {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;

  max-width: 800px;

  margin: 5px;
  padding: 13px;

  color: var(--fg-two);

  border-radius: var(--bd-r-sm);
  background-color: var(--bg-two);
}

.contentBox {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.contentBox h2 {
  font-size: 1.875rem;
  font-weight: 500;
}

.contentBox h4 {
  font-size: 1.0625rem;
  /* padding-left: 6px; */
  margin-bottom: 8px;
}

.contentBox p {
  font-size: 1.0625rem;
  line-height: 1.4;
  padding-left: 6px;
  margin-bottom: 8px;
}

.imageBox {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 100%;
  min-height: 300px;

  position: relative;
  overflow: hidden;
}

.imageBox img {
  max-height: 300px;

  border-radius: var(--bd-r-sm);
}

@media screen and (min-width: 365px) {
  .imageBox img {
    width: 90%;
    max-height: 300px;
  }
}

@media screen and (min-width: 425px) {
  .imageBox img {
    max-width: 300px;
    max-height: 350px;
  }
}

@media screen and (min-width: 660px) {
  .about {
    flex-direction: row;
  }

  .imageBox {
    flex-basis: 50%;
  }

  .imageBox img {
    width: 100%;
    height: 100%;
  }
}

.section {
  display: flex;
  justify-content: center;

  width: 100%;

  margin-top: 20px;

  color: var(--fg-two);

  background-color: var(--bg-two);
}

.sectionContent {
  display: flex;
  flex-direction: column;
  gap: 8px;

  width: 100%;
  max-width: 800px;

  margin: 5px;
  padding: 13px;
}

.sectionContent h2 {
  font-size: 1.875rem;
  font-weight: 500;
}

.sectionContent p {
  font-size: 1rem;
  line-height: 1.3;
}

.sectionContent button {
  width: fit-content;

  padding: 8px;

  font-size: 17px;
  font-weight: 500;

  border-radius: var(--bd-r-sm);
  border: none;
  background-color: var(--ac-one);
  transition: height 450ms linear;
}

@media screen and (min-width: 365px) {}

@media screen and (min-width: 425px) {}

@media screen and (min-width: 660px) {}

/* ---------------------------------------  ---------------------------------------
@media screen and (min-width: 365px) {}
@media screen and (min-width: 425px) {}
@media screen and (min-width: 660px) {}*/

/* ---------------------------------------  ---------------------------------------*/
@media screen and (min-width: 768px) {}

@media screen and (min-width: 1024px) {}
