@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-one: #ffff;
  --color-two: #181c14;
  --color-three: #ff1053;
  --color-four: #13b6c5;

  --bg-one: var(--color-one);
  --bg-two: var(--color-two);

  --fg-one: var(--color-two);
  --fg-two: var(--color-one);

  --ac-one: var(--color-four);
  --ac-two: var(--color-three);

  --bd-one: var(--color-two);
  --bd-two: var(--color-one);
  --bd-ac-one: var(--color-four);
  --bd-ac-two: var(--color-three);

  --bd-s-sm: 0 1px 2px 0;
  --bd-md-one: 0 1px 3px 0;
  --bd-md-two: 0 1px 2px -1px;

  --bd-lg-one: 0 10px 15px -3px;
  --bd-lg-two: 0 4px 6px -4px;

  --bd-r-sm: 8px;
  --bd-r-md: 12px;
  --bd-r-lg: 16px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  color: inherit;
}

body {
  background-color: var(--bg-one);

  color: var(--fg-one);
}

/* ---------------------------------------  ---------------------------------------
@media screen and (min-width: 365px) {}
@media screen and (min-width: 425px) {}
@media screen and (min-width: 660px) {}
*/
