.footer {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  left: 50%;
  bottom: 0;
  translate: -50% 0;

  display: flex;

  padding: 0 2px;

  min-width: 25vw;
  height: 37px;

  color: var(--fg-two);
  font-size: 18px;

  border-radius: 8px 8px 0 0;
  background-color: var(--bg-two);
}
.footer-block {
  display: flex;
  align-items: center;

  padding: 0 4px;

  height: 100%;
}
.footer-block:nth-last-child(1){
  flex-basis: 100%;

  border: 1px solid rgba(0, 0, 0, 0);
  border-left: 1px solid var(--ac-one);
}

.app-man {
  width: 30px;
  height: 100%;

  padding: 0 4px;
  
  color: var(--fg-two);
  font-size: 19px;

  border: 1px solid rgba(0, 0, 0, 0);
  background-color: inherit;
  transition: all 300ms linear;
}
.app-man:hover {
  border-radius: 10px;
  border-color: var(--ac-one);
  transform: scale(0.9);
}
.app-man-toggle {
  border-radius: 10px;
  background-color: var(--ac-one);
  transform: scale(0.9);
}
.app-man-menu {
  position: absolute;
  top: 0;
  left: 0;

  /* display: flex; */

  width: 20vw;

  scale: 0;
  translate: 15px 101%;
  
  padding: 10px;

  border-radius: 16px;
  background-color: var(--bg-two);
  transition: all 300ms linear;
}
.app-man-menu-toggle {
  scale: 1;
  translate: 15px -101%;
}

.app-manger {
  width: 100%;
  height: 100%;

  padding: 2px;

  border-radius: 8px;
  border: 1px solid var(--ac-one);
}