/* default styling */
:root {
  --fg-font: monospace;

  --fg-one: #000000;
  --fg-two: #fffbf5;

  --bg-one: #fffbf5;
  --bg-two: #000000;

  --ac-one: #da9020; /* TODO: change to goldish color */
  --ac-two: #d98f21b3;
}

*, *::before,*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}

#root {
  width: 100vw;
  height: 100vh;

  font-family: var(--fg-font);

  padding: 0;
  margin: 0;

  overflow: hidden;

  background-color: var(--bg-one);
  background-image: none;
}
#root::after {
  content: "";
  position: absolute;

  top: 0;
  left: 0;
  z-index: -1 ;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.13);
}

/* header */
.header {
  display: flex;
  justify-content: space-between;

  height: 33px;

  color: var(--fg-two);

  background-color: var(--bg-two);
}
.header-block {
  display: flex;
  align-items: center;

  margin: 0 20px;

  height: 100%;
}
.header-btn {
  height: 100%;

  padding: 0 4px;

  color: var(--fg-two);
  font-size: 16px;

  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  transition: all 300ms linear;
}
.header-btn::first-letter {
  text-transform: capitalize;
}
.header-btn:hover {
  border-radius: 10px;
  border-color: var(--ac-one);
  transform: scale(0.9);
}
.header-btn-active {
  
  border-radius: 10px;
  border-color: var(--ac-one);
  background-color: var(--ac-one);

  transform: scale(0.9);
}
/* activities bar */
.activities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;

  position: relative;
}
.activities-menu {
  position: absolute;

  bottom: 0px;
  left: 0px;

  padding: 10px;

  width: 25vw;
  height: 30vh;

  scale: 0;
  translate: -100% 100%;

  border-radius: 16px;
  background-color: var(--bg-two);

  transition: all 300ms linear;

}
.activities-menu-toggle {
  scale: 1;
  translate: 0 99%;
}
.activities-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  width: 100%;
  height: 100%;

  padding: 2px;

  border-radius: 8px;
  border: 1px solid var(--ac-one);

  overflow-y: auto;
}
.activity-block {
  width: 45%;
  height: 45%;

  padding: 2px;
  margin: 5px 0;

  border-radius: 4px;
  border: 1px solid var(--ac-one);
}
/* settings bar */
.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;

  position: relative;
}
.setting-menu {
  position: absolute;

  bottom: 0px;
  right: 0px;
  z-index: 20;

  padding: 10px;

  width: 10vw;

  scale: 0;
  translate: 100% 100%;

  border-radius: 16px;
  background-color: var(--bg-two);

  transition: all 300ms linear;
}
.setting-menu-toggle {
  scale: 1;
  translate: 0 99%;
}
.settings-row {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;

  padding: 2px;

  list-style: none;

  border-radius: 8px;
  border: 1px solid var(--ac-one);
}
.setting-block {
  width: 90%;

  margin: 0 auto;
}
.setting-item {
  display: inherit;
  width: 100%;

  padding: 2px 0;
  margin: 4px 0;

  font-size: 17px;
  text-align: center;
  color: var(--fg-two);
  text-decoration: none;

  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  background-color: inherit;
  transition: all 300ms linear;
}
.setting-item:hover {

  color: var(--fg-one);

  background-color: var(--ac-one);

  cursor: pointer;
}

/* main */
#main {
  display: flex;
  
  height: calc(100% - 33px - 37px);
  width: 100%;

  overflow: hidden;
  
  position: relative;
}
/* apps */
.app-shortcut {
  display: flex;

  height: 70px;
  width: 67px;

  padding: 3px;
  margin: 4px;

  color: #fff;
  text-align: center;

  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid var(--ac-two);

  position: relative;
}
.app-shortcut>.icon {
  display: flex;
  width: 100%;
  height: 70%;

}
.app-shortcut>.icon svg {
  fill: var(--ac-one);
  width: 100%;
  margin: 0 auto;
}

.app-shortcut>label {
  position: absolute;
  bottom: 0;
  left: 0;

  height: 21px;
  width: 100%;

  z-index: 2;
}

/* app specifics */

/* footer */
.footer {
  display: flex;
  justify-content: space-evenly;

  position: absolute;
  left: 50%;
  bottom: 0;
  translate: -50% 0;
  z-index: 20;

  display: flex;

  padding: 0 2px;

  width: 100%;
  height: 37px;

  color: var(--fg-two);
  font-size: 18px;

  /* border-radius: 8px 8px 0 0; */
  background-color: var(--bg-two);
}
.footer-block {
  display: flex;
  align-items: center;

  padding: 0 4px;

  height: 100%;
}
.footer-block:nth-child(1) {
  margin-left: 10px;
}
.footer-block:nth-last-child(1){
  flex-basis: 100%;

  border: 1px solid rgba(0, 0, 0, 0);
  border-left: 1px solid var(--ac-one);
}
/* app menu */
.app-man {
  width: 30px;
  height: 100%;

  padding: 0 4px;
  
  color: var(--fg-two);
  font-size: 19px;

  border: 1px solid rgba(0, 0, 0, 0);
  background-color: inherit;
  transition: all 300ms linear;
}
.app-man:hover {
  border-radius: 10px;
  border-color: var(--ac-one);
  transform: scale(0.9);
}
.app-man-toggle {
  border-radius: 10px;
  background-color: var(--ac-one);
  transform: scale(0.9);
}
.app-man-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;

  /* display: flex; */

  width: 16vw;

  scale: 0;
  translate: 15px 101%;
  
  padding: 10px;

  border-radius: 16px;
  background-color: var(--bg-two);
  transition: all 300ms linear;
}
.app-man-menu-toggle {
  scale: 1;
  translate: 15px -101%;
}
/* app manager box */
.app-manager {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  height: 100%;

  padding: 2px;

  border-radius: 8px;
  border: 1px solid var(--ac-one);
}
.app-manager-shortcut {
  display: flex;
  flex-basis: 30%;

  height: 70px;

  padding: 3px;
  margin: 4px;

  color: #fff;
  text-align: center;

  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid var(--ac-two);

  position: relative;
}
.app-manager-shortcut>.icon {
  display: flex;
  width: 100%;
  height: 70%;
}
.app-manager-shortcut>.icon svg {
  fill: var(--ac-one);
  width: 100%;
  margin: 0 auto;
}
.app-manager-shortcut>label {
  position: absolute;
  bottom: 0;
  left: 0;

  height: 21px;
  width: 100%;

  font-size: smaller;

  z-index: 2;
}

/* active bar */
.footer-block>.active-app {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 30px;

  margin: 2px;

  color: var(--fg-two);
  fill: var(--fg-two);
  font-size: 18px;

  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: var(--bg-two);
  transition: all 300ms linear;
}
.footer-block>.active-app:hover {
  color: var(--ac-one);
  border-color: var(--ac-one);
}
/* active-app */
.active-app>.icon svg {
  fill: var(--ac-one);
  width: 100%;
  margin: 0 auto;
}

/* ---------------------------------------- About Me App ------------------------------------------------- */
.aboutMe-link {
  text-decoration: none;
  color: inherit;
}
.aboutMe-link:hover {
  color: var(--ac-one);
}
.aboutMe-innerWindow {
  width: 100%;
  height: 100%;

  overflow-y: auto;

  color: var(--fg-one);

  background-color: var(--bg-one);
}
/* header */
.aboutMe-header {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;

  max-width: 1000px;

  padding-bottom: 15px;
  margin: 0 auto;

  border-bottom: 3px dotted var(--ac-one);
}
.aboutMe-left-block {
  flex-grow: 1;

  display: flex;
  justify-content: center;

  max-width: 300px;
}
.aboutMe-image-box, 
.aboutMe-image-box> img {
  border-radius: 12%;
  border: 1px solid var(--ac-one);
}
.aboutMe-image-box> img {
  width: 100%;
  height: 100%;
}
.aboutMe-right-block {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;

  min-width: 200px;

  margin: 10px;
}
.aboutMe-info>* {
  margin: 4px;
}
/* .info h2 */
.aboutMe-links-list {
  display: grid;
  grid-template-columns: auto auto;

  max-width: 250px;

  padding: 0 10px;
  margin: 5px 10px;
}

/* main */
.aboutMe-main {
  max-width: 1000px;

  padding: 0 8px;
  padding-bottom: 15px;
  margin: 0 auto;

  border-bottom: 3px dotted var(--ac-one);
}
.aboutMe-section {
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px dashed var(--ac-one);
}
.aboutMe-section:last-child {
  border-bottom: none;
}
.aboutMe-section h2 {
  font-size: 19px;
}
.aboutMe-section p {
  font-size: 16px;
  padding-left: 5px;
}

/* ---------------------------------------- My Skills app ------------------------------------------------- */
.mySkills-innerWindow {
  width: 100%;
  height: 100%;

  overflow-y: auto;;

  color: var(--fg-one);

  background-color: var(--bg-one);
}
.mySkills-container {
  max-width: 1000px;

  margin: 0 auto;

  border: 3px solid var(--ac-one);
  border-top: 0;
  border-bottom: 0;
}
.mySkills-header {}

.mySkills-section {
  margin: 10px 0 0;
  padding-left: 8px;

  border-bottom: 2px dashed var(--ac-two);
}
.mySkills-section:nth-child(1) {
  padding-top: 10px;
  margin: 0;

  border-bottom: 3px solid var(--ac-one);
}
.mySkills-section:nth-last-child(1){
  border: none;
}
.mySkills-section p {
  padding: 5px 0;
  padding-left: 8px ;
  font-size: 15px;
}